<div class="bg-info text-center sidenav">
  <h3 class="text-center">
    <p>Welcome!</p>
    <div class="text-center">
      <button *ngIf="loginStatus" class="btn btn-danger" (click)="logOut()">
        Logout
      </button>
    </div>
    <div class="text-center">
      <button
        *ngIf="loginStatus"
        class="btn btn-success"
        (click)="navigateToOwnProfile()"
      >
        Profile
      </button>
    </div>
  </h3>
  <div class="text-center">
    <button
      *ngIf="isProjectManager"
      (click)="navigateToDashBoard()"
      class="btn sidebtn text-center"
    >
      DashBoard
    </button>
    <button
      *ngIf="isProjectManager"
      (click)="navigateToProjects()"
      class="btn sidebtn text-center"
    >
      Projects
    </button>
    <button (click)="navigateToMyProjects()" class="btn sidebtn text-center">
      My Projects
    </button>
    <button
      *ngIf="isProjectManager"
      (click)="navigateToUsers()"
      class="btn sidebtn text-center"
    >
      Employees
    </button>
    <button
      *ngIf="isProjectManager"
      (click)="navigateToRoles()"
      class="btn sidebtn text-center"
    >
      Roles
    </button>
    <button
      *ngIf="isProjectManager"
      (click)="navigateToClient()"
      class="btn sidebtn text-center"
    >
      Client
    </button>
    <button
      *ngIf="isProjectManager"
      (click)="navigateToTeams()"
      class="btn sidebtn text-center"
    >
      Teams
    </button>
  </div>
</div>
<div style="margin-left: 160px">
  <router-outlet></router-outlet>
</div>
