<div class="bg-info text-center sidenav">
  <h3 class="text-center">
    <p>Welcome!</p>
    <div class="text-center"></div>
    <div class="text-center">
      <div class="my-3 position-relative pointer">
        <i class="fa fa-user" aria-hidden="true"></i>
        <a
          *ngIf="loginStatus"
          class="stretched-link text-decoration-none"
          (click)="navigateToOwnProfile()"
        >
          Profile
        </a>
      </div>
    </div>
  </h3>
  <div class="text-center">
    <button
      *ngIf="isProjectManager"
      (click)="navigateToDashBoard()"
      class="btn sidebtn text-center"
    >
      DashBoard
    </button>
    <button
      *ngIf="isProjectManager"
      (click)="navigateToProjects()"
      class="btn sidebtn text-center"
    >
      Projects
    </button>
    <button (click)="navigateToMyProjects()" class="btn sidebtn text-center">
      My Projects
    </button>
    <button
      *ngIf="isProjectManager"
      (click)="navigateToUsers()"
      class="btn sidebtn text-center"
    >
      Employees
    </button>
    <button
      *ngIf="isProjectManager"
      (click)="navigateToRoles()"
      class="btn sidebtn text-center"
    >
      Roles
    </button>
    <button
      *ngIf="isProjectManager"
      (click)="navigateToClient()"
      class="btn sidebtn text-center"
    >
      Client
    </button>
    <br />
    <button
      *ngIf="loginStatus"
      class="btn sidebtn text-center red"
      (click)="logOut()"
    >
      Logout
    </button>
  </div>
</div>
<div style="margin-left: 160px">
  <router-outlet></router-outlet>
</div>
