.myheader {
  font-family: "Updock", cursive;
  font-size: 50px;
  font-weight: bold;
  color: gold;
}
.decorate-modal {
  background: radial-gradient(
    circle at center,
    rgb(255, 250, 205),
    rgb(224, 255, 255)
  );
}
