<div class="content container-fluid">
  <div class="page-header d-flex justify-content-between">
    <div class="page-title myheader">
      <p>DashBoard</p>
    </div>
  </div>
</div>
<div class="text-center">
  <div class="row bg-secondary">
    <div class="col p-2 border border-1 rounded" style="background: white">
      <div class="text-center">
        <h4>{{ managerName }}</h4>
        <div>
          <p class="fw-bold fst-italic">Your Teams</p>
        </div>
      </div>
    </div>
    <div class="col p-2 border border-1 rounded" style="background: white">
      <div class="text-center">
        <p class="fw-bold fst-italic">Projects</p>
        <div *ngIf="!isProjectByManagerEmpty">
          <div *ngFor="let project of projectsByManagerList; let i = index">
            <div *ngIf="i < 2">
              <div class="bg-info text-center">
                <h4>{{ project.projectName }}</h4>
                <p>Client : {{ project.client.clientName }}</p>
                <p>Deadline : {{ project.planEndDate }}</p>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="isProjectByManagerEmpty">
          <div class="text-center text-info">No Projects Found</div>
        </div>
      </div>
    </div>
    <div class="col p-2 border border-1 rounded" style="background: white">
      <div class="text-center">
        <p class="fw-bold fst-italic">Client</p>
      </div>
    </div>
  </div>
</div>

<!-- d-flex flex-row flex-nowrap justify-content-center align-items-center bg-danger -->
