.myheader {
  font-family: "Updock", cursive;
  font-size: 50px;
  font-weight: bold;
  color: gold;
}

.eachcolumn {
  background: #f0ffff;
  border-radius: 10px;
}

canvas {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
