<div class="bg">
  <div class="container text-center mx-auto mt-5">
    <img src="assets/logo.jpg" width="150" alt="" />
  </div>
  <div
    class="container col-4 bg-info mx-auto my-3 border border-primary rounded"
  >
    <div class="container text-center m-2">
      <h3 class="account-title">Project Management Portal</h3>

      <button (click)="navigateToSignUp()" class="btn btn-success">
        Not a user? Sign up HERE!
      </button>
    </div>

    <form [formGroup]="loginForm">
      <label>Username</label>
      <input type="text" formControlName="Username" class="form-control" />

      <div class="row">
        <div class="col">
          <label>Password</label>
          <span class="fa toggle-password fa-eye mx-1"></span>
        </div>
        <div class="col-auto">
          <a
            class="text-primary text-underlined pw-reset"
            data-bs-toggle="modal"
            data-bs-target="#blogModal"
            >Forgot password?</a
          >
        </div>
      </div>
      <div class="position-relative">
        <input
          formControlName="Password"
          class="form-control"
          type="password"
        />
      </div>

      <div class="form-group text-center m-2">
        <button
          type="submit"
          (click)="login()"
          class="btn btn-warning account-btn"
        >
          Login
        </button>
      </div>
    </form>
  </div>
</div>
