<div class="container text-center">
  <div class="content container-fluid">
    <div class="page-header d-flex justify-content-between">
      <div class="page-title myheader">
        <p>Employee List</p>
      </div>
    </div>
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">UserID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col">Current Team</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="each-row" *ngFor="let user of userList">
        <td>{{ user.userID }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role.roleName }}</td>
        <td>{{ user.team.teamName }}</td>
        <td>
          <button class="btn btn-success" (click)="viewUser(user.userID)">
            <i class="fa fa-eye" aria-hidden="true"></i>
          </button>
        </td>
        <td>
          <button
            class="btn btn-danger"
            data-bs-toggle="modal"
            data-bs-target="#deleteModal"
            (click)="onDeleteUser(user.userID)"
          >
            X
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Delete Modal Starts here -->

<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  aria-labelledby="deleteLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
  >
    <div class="modal-content decorate-modal">
      <div class="modal-header">
        <h5 class="modal-title" id="commentModalLabel">Delete Employee</h5>
        <button
          type="button"
          id="close-emp-comment"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p class="fw-bold fst-italic">Remove Employee Record?</p>
      </div>
      <div class="text-center my-2">
        <button type="button" class="btn btn-danger" (click)="deleteUser()">
          Delete Employee
        </button>
      </div>
    </div>
  </div>
</div>
