<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <div class="page-title myheader">
      <p>All Projects</p>
    </div>
    <div>
      <!-- Button trigger modal -->
      <button
        type="button"
        class="btn btn-success"
        data-bs-toggle="modal"
        data-bs-target="#productModal"
        (click)="clearProjectForm()"
      >
        <i class="fa fa-plus"></i>
        Add Project
      </button>
    </div>
  </div>

  <!-- Button trigger modal -->

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Project ID</th>
        <th scope="col">Project Name</th>
        <th scope="col">Description</th>
        <th scope="col">Client Name</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="table-warning">
      <tr *ngFor="let project of _projects; index as i">
        <td>{{ project.projectID }}</td>
        <td>{{ project.projectName }}</td>
        <td>
          <div>{{ project.projectDescription }}</div>
        </td>
        <td>{{ project.client.clientName }}</td>
        <td>
          <button
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#productModal"
            (click)="loadProjectForm(project.projectID)"
          >
            Edit
          </button>
        </td>
        <td>
          <button
            class="btn btn-success"
            data-bs-toggle="modal"
            data-bs-target="#projectMemberModal"
            (click)="setProjectIDAndReloadProjectMember(project.projectID)"
          >
            Add Member
          </button>
        </td>
        <td>
          <button
            class="btn btn-danger"
            (click)="deleteProject(project.projectID)"
          >
            X
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="productModal"
  tabindex="-1"
  aria-labelledby="productModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content decorate-modal">
      <div class="modal-header">
        <h5 class="modal-title" id="productModalLabel">
          {{ isEdit ? "Edit Project" : "Add Project" }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form [formGroup]="projectForm" (ngSubmit)="submit()">
        <div class="modal-body">
          <div class="row mb-2">
            <label class="col" for="projectNameInput">Project Name</label>
            <input
              id="projectNameInput"
              name="projectNameInput"
              class="col"
              type="text"
              formControlName="projectName"
              size="50"
            />
          </div>
          <div class="row mb-2">
            <label class="col" for="projectDescription"
              >Project Description</label
            >
            <input
              id="projectDescription"
              name="projectDescription"
              class="col"
              type="text"
              formControlName="projectDescription"
              size="50"
            />
          </div>
          <div class="row mb-2">
            <label class="col" for="planStartDate">Planned Start Date</label>
            <input
              class="col"
              type="date"
              id="planStartDate"
              name="planStartDate"
              formControlName="planStartDate"
            />
          </div>
          <div class="row mb-2">
            <label class="col" for="planEndDate">Planned End Date</label>
            <input
              class="col"
              type="date"
              id="planEndDate"
              name="planEndDate"
              formControlName="planEndDate"
            />
          </div>
          <div class="row mb-2">
            <label class="col" for="actualStartDate">Actual Start Date</label>
            <input
              class="col"
              type="date"
              id="actualStartDate"
              name="actualStartDate"
              formControlName="actualStartDate"
            />
          </div>
          <div class="row mb-2">
            <label class="col" for="actualEndDate">Actual End Date</label>
            <input
              class="col"
              type="date"
              id="actualEndDate"
              name="actualEndDate"
              formControlName="actualEndDate"
            />
          </div>
          <div class="row mb-2">
            <div class="col">
              <label for="clientID">Client ID</label>
            </div>
            <div class="col">
              <select
                class="form-select"
                formControlName="clientID"
                id="clientID"
                name="clientID"
                aria-label="clientID"
              >
                <option
                  *ngFor="let client of _clientNames"
                  [ngValue]="client.clientID"
                >
                  {{ client.clientName }}
                </option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="projectManagerID">Project Manager ID</label>
            </div>
            <div class="col">
              <select
                class="form-select"
                formControlName="projectManagerID"
                id="projectManagerID"
                name="projectManagerID"
                aria-label="projectManagerID"
              >
                <option *ngFor="let user of _userNames" [ngValue]="user.userID">
                  {{ user.username }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            (click)="submit()"
          >
            {{ isEdit ? "Update" : "Add" }}
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- ProjectMbember Model -->
<div
  class="modal fade"
  id="projectMemberModal"
  tabindex="-1"
  aria-labelledby="projectMemberLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content decorate-modal">
      <div class="modal-header">
        <h5 class="modal-title" id="projectMemberLabel">
          {{ "Project Member" }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="projectMemberForm">
          <select
            class="form-select"
            formControlName="userID"
            id="clientID"
            name="clientID"
            aria-label="clientID"
          >
            <option *ngFor="let user of _userNames" [ngValue]="user.userID">
              {{ user.username }}
            </option>
          </select>
          <button
            type="button"
            class="btn btn-primary"
            (click)="addMemberToProject()"
          >
            Add Member
          </button>
          <!-- List of Members to this project -->
          <div class="row" *ngFor="let member of _projectMembers">
            <p class="col">
              {{ member.user.username }}
            </p>
            <div class="col">
              <button
                type="button"
                class="btn btn-primary"
                (click)="removeMemberFromProject(member.projectMemberID)"
              >
                Remove
              </button>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
