<div class="content container-fluid">
  <div class="page-header d-flex justify-content-between align-items-center">
    <div class="page-title myheader text-center mt-2">
      <p>Role/Designation</p>
    </div>
    <div class="add-blog mt-2">
      <button
        class="btn addbtn btn-success"
        data-bs-toggle="modal"
        data-bs-target="#roleModal"
        (click)="onCreateRole()"
      >
        <i class="fa fa-plus"></i> Add Role
      </button>
    </div>
  </div>
</div>

<div class="container text-center">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">RoleID</th>
        <th scope="col">Role / Designation</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="each-row" *ngFor="let role of roleList">
        <td>{{ role.roleID }}</td>
        <td>{{ role.roleName }}</td>
        <td>
          <button
            class="btn btn-danger"
            data-bs-toggle="modal"
            data-bs-target="#roleModal"
            (click)="onDeleteRole(role.roleID)"
          >
            X
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Delete Modal Starts here -->

<div
  class="modal fade"
  id="roleModal"
  tabindex="-1"
  aria-labelledby="deleteLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
  >
    <div class="modal-content decorate-modal">
      <div class="modal-header">
        <h5 *ngIf="!isDeletingRole" class="modal-title" id="roleModalLabel">
          Add New Role/Designation
        </h5>
        <h5 *ngIf="isDeletingRole" class="modal-title" id="roleModalLabel">
          Remove Role/Designation
        </h5>
        <button
          type="button"
          id="close-emp-comment"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div *ngIf="isDeletingRole" class="modal-body">
        <p class="fw-bold fst-italic">Remove Selected Role / Designation?</p>
      </div>
      <!-- Edit user details form -->
      <div *ngIf="!isDeletingRole" class="modal-body">
        <form [formGroup]="roleForm">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="col-form-label"
                  >RoleName <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  formControlName="RoleName"
                  class="form-control"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="text-center my-2">
        <button
          *ngIf="isDeletingRole"
          type="button"
          class="btn btn-danger"
          (click)="deleteRole()"
        >
          Remove Role
        </button>
        <button
          *ngIf="!isDeletingRole"
          type="button"
          class="btn btn-primary"
          (click)="createRole()"
        >
          Add Role
        </button>
      </div>
    </div>
  </div>
</div>
